.popwin-win {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	z-index: 2000;
	width: 100px;
	height: 100px;
	background-color: white;
	moz-border-radius: 10px 10px 10px 10px;
	webkit-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.popwin-win hr {
	margin: 0;
}

.popwin-mask {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.7);
}

.popwin-header {
	text-align: left;
	height: 23px;
	margin: 5px auto 5px 10px;
	padding-top: 7px;
	font-size: 16px;
}

.popwin-message {
	height: 95px;
	padding: 10px;
	font-size: 14px;
}

.popwin-win button {
	position: relative;
	top: 7px; margin : 0;
	width: 70px;
	height: 26px;
	margin: 0;
}

.popwin-yes {
	left: -15px;
}

.popwin-no {
	left: 15px;
}

.popwin-ok {
}