.popwin-win {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	z-index: 2000;
	width: 100px;
	height: 100px;
	background-color: white;
	moz-border-radius: 10px 10px 10px 10px;
	webkit-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.popwin-message {
	padding: 10px;
}

.popwin-mask {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.7);
}

.popwin-yes {
	position: absolute;
	bottom: 10px;
	left: 100px;
}

.popwin-no {
	position: absolute;
	bottom: 10px;
	right: 100px;
}